body {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#logo_marca {
    width: 30%;
    margin-top: 10px;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


header {
    color: black;
    padding: 10px 0;
    padding-top: 10px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}

.slideUp {
    color: black;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: black;
}

nav ul li a:hover {
    background-color: white;
}

.form-flex input {
    margin-top: 20px;
    display: inline-block;
    border-color: #0066FF;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    border-radius: 5px;
    height: 40px;
    width: 30%;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
    margin-left: 250px;
}

.content input {
    margin-top: 20px;
    display: inline-block;
    border-color: #0066FF;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    border-radius: 5px;
    height: 40px;
    width: 30%;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
    margin-left: 250px;
}

.btnAgregar {
    background-color: #0066FF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #0066FF;
    width: 30%;
    height: 40px;
    font-weight: bold;
    margin-left: 250px;
}

.btnGuardar {
    background-color: #0066FF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #0066FF;
    width: 30%;
    height: 40px;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 20px;
}

.btnDelete {
    background-color: #0066FF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #0066FF;
    width: 10%;
    height: 40px;
    font-weight: bold;
}