body {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#logo_marca {
    width: 30%;
    margin-top: 10px;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

header {
    color: black;
    padding: 10px 0;
    padding-top: 10px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #EAEAEA;
}

.slideUp {
    color: black;
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: black;
}

nav ul li a:hover {
    background-color: white;
}

.menuProfile {
    align-items: center;
    margin-left: 100px;
}

#imgProfile {
    margin-top: 15px;
    align-items: center;
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menuProfile_content {
    display: inline-block;
    position: absolute;
    background-color: #EAEAEA;
    min-width: 160px;
    z-index: 1;
}

.menuProfile_content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

h1 {
    font-size: 30px;
    color: #333;
}

.doctorInfo {
    margin-bottom: 20px;
}

.doctorInfo p {
    font-size: 18px;
    color: #555;
}

button:hover {
    background-color: #005bb5;
}

#doctorInfoContainer {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding-left: 10px;
    font-size: 20px;
    flex-wrap: wrap;
    margin-left: 50px;
}

.doctorInfo {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify;
    border-color: #0066FF;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    height: auto;
    width: auto;
    margin-bottom: 20px;
}

#btnLogout {
    border-radius: 5px;
    color: #FFFFFF;
    border-color: #0066FF;
    background-color: #0066FF;
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: normal;
    margin: 15px;
    cursor: pointer;
}

#btnDashboard {
    border-radius: 5px;
    color: #FFFFFF;
    border-color: #0066FF;
    background-color: #0066FF;
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: normal;
    margin: 15px;
    cursor: pointer;
}