body {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

header {
    color: black;
    padding: 10px 0;
    text-align: center;
    display: flex;
}

.slideUp {
    color: black;
    padding: 10px 0;
    text-align: center;
}

.profile-icon img {
    border-radius: 50%;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    color: black;
}

nav ul li a:hover {
    background-color: white;
}

img {
    width: 70px;
    height: 70px;
    align-items: center;
}

.pacientesContainer {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding-left: 10px;
    font-size: 20px;
}

.pacienteCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-color: #0066FF;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    background-color: #EAEAEA;
    height: 40px;
    width: 45%;
    margin-bottom: 20px;
}

.pacienteCard button {
    border-radius: 5px;
    color: #FFFFFF;
    border-color: #0066FF;
    background-color: #0066FF;
    width: 30%;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    margin: 15px;
}